<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/swiper-bundle.min.css">

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        
        <link rel="stylesheet" href="css/styles.css">

        <title>Landing Page</title>
    </head>
    <body>
        <a href="#" class="scrolltop" id="scroll-top">
            <i class='bx bx-chevron-up scrolltop__icon' ></i>
        </a>

        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="/" class="nav__logo">Andrew Catoiu</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="/home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#services" class="nav__link">Services</a></li>
                        <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        <% if (isLoggedIn) { %>
                            <li class="nav__item"><a href="/admin" class="nav__link">Admin</a></li>
                            <li class="nav__item"><a href="/logout" class="nav__link">Logout</a></li>
                        <% } else { %>
                            <li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
                        <% } %>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!-- Home -->
            <section class="home" id="home">
                <div class="home__container bd-container bd-grid">
                    <div class="home__data">
                        <span class="home__greeting">Hello, My name is</span>
                        <h1 class="home__name">Andrew Catoiu</h1>
                        <span class="home__profession">Web Developer</span>
                        <a download="CatoiuAndrew_Resume_0721.pdf" href="pdf/CatoiuAndrew_Resume_0721.pdf" class="button button-light home__button">Download CV</a>
                    </div>

                    <div class="home__social">
                        <a href="https://www.linkedin.com/in/andrew-catoiu-329512290/" class="home__social-icon"><i class='bx bxl-linkedin' ></i></a>
                        <a href="https://github.com/andrewjcatoiu/" class="home__social-icon"><i class='bx bxl-github' ></i></a>

                        <div class="home__img">
                            <img src="/img/software-engineer-graphic-clipart-design-free-png.webp" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <!-- About -->
            <section class="about section bd-container" id="about">
                <span class="section-subtitle">My history</span>
                <h2 class="section-title">About Me</h2>

                <div class="about__container bd-grid">
                    <div class="about__data bd-grid">
                        <p class="about__description">
                            <span>
                                Hello, I am<br>
                            </span>
                            <% aboutData.forEach(function(record) { %>
                                <%= record.description %>
                            <% }); %>
                        </p>

                        <div>
                            <span class="about__number" id="years_of_experience">05</span>
                            <span class="about__achievement">Years of Experience</span>
                        </div>

                        <div>
                            <span class="about__number"><%= about_TotalProjects %>+</span>
                            <span class="about__achievement">Projects completed</span>
                        </div>
                    </div>

                    <% aboutData.forEach(function(record) { %>
                        <img src="<%= record.image_path %>" alt="" class="about__img">
                    <% }); %>
                </div>
            </section>

            <!-- Qualification -->
            <section class="qualification section bd-container">
                <span class="section-subtitle">Experience and education</span>
                <h2 class="section-title">Qualification</h2>

                <div class="qualification__container bd-grid">
                    <div class="qualification__content">
                        <h2 class="qualification__title">
                            <i class='bx bx-briefcase-alt qualification__title-icon'></i>
                            Work Experience
                        </h2>

                        <div class="bd-grid">
                            <% qualificationData.forEach(function(qual) { %>
                                <% if (qual.category === 'work_experience') { %>
                                    <div class="qualification__data">
                                        <h3 class="qualification__area"><%= qual.title %></h3>

                                        <div class="qualification__box">
                                            <span class="qualification__work">
                                                <i class='bx bx-briefcase-alt qualification__icon'></i>
                                                <%= qual.location %>
                                            </span>

                                            <span class="qualification__work">
                                                <i class='bx bx-calendar-alt qualification__icon'></i>
                                                <%= qual.time_span %>
                                            </span>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    </div>

                    <div class="qualification__content">
                        <h2 class="qualification__title">
                            <i class='bx bx-book-bookmark qualification__title-icon'></i>
                            Education
                        </h2>

                        <div class="bd-grid">
                            <% qualificationData.forEach(function(qual) { %>
                                <% if (qual.category === 'education') { %>
                                    <div class="qualification__data">
                                        <h3 class="qualification__area"><%= qual.title %></h3>

                                        <div class="qualification__box">
                                            <span class="qualification__work">
                                                <i class='bx bx-book-alt qualification__icon'></i>
                                                <%= qual.location %>
                                            </span>

                                            <span class="qualification__work">
                                                <i class='bx bx-calendar-alt qualification__icon'></i>
                                                <%= qual.time_span %>
                                            </span>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Services -->
            <section class="services section bd-container" id="services">
                <span class="section-subtitle">What I Offer</span>
                <h2 class="section-title">Services</h2>

                <div class="services__container bd-grid">
                    <div class="services__data">
                        <i class='bx bx-laptop services__icon'></i>
                        <h3 class="services__title">Web Development</h3>
                        <p class="services__description">JavaScript (Node, Angular), Python, Java, C#, HTML, CSS.</p>
                        <a href="#" class="button">Know More</a>
                    </div>
                

                
                    <div class="services__data">
                        <i class='bx bx-pen services__icon'></i>
                        <h3 class="services__title">Database Design</h3>
                        <p class="services__description">PostgreSQL, Relational Databases, Data Modeling, psql CLI, pgAdmin.</p>
                        <a href="#" class="button">Know More</a>
                    </div>
                

                
                    <div class="services__data">
                        <i class='bx bxl-heroku services__icon'></i>
                        <h3 class="services__title">Website Deployment</h3>
                        <p class="services__description">Heroku, Vercel, Git, Linux CLI, Database Connection.</p>
                        <a href="#" class="button">Know More</a>
                    </div>
                </div>
            </section>

            <!-- Project in mind -->
            <section class="project section bd-container">
                <div class="project__container bd-grid">
                    <div class="project__data">
                        <i class='bx bx-chat project__icon'></i>

                        <div>
                            <h2 class="project__title">Project in mind</h2>
                            <p class="project__description">Hire me to carry out the following projects.</p>
                        </div>

                        <div>
                            <a href="mailto:andrewjcatoiu26@gmail.com" class="button button-white">Hire me</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Portfolio -->
            <section class="portfolio section bd-container" id="portfolio">
                <span class="section-subtitle">My recent works</span>
                <h2 class="section-title">Portfolio</h2>

                <div class="portfolio__nav">
                    <span class="portfolio__item active-portfolio" data-filter="all">All</span>
                    <span class="portfolio__item" data-filter=".web">Web</span>
                    <span class="portfolio__item" data-filter=".other">Other</span>
                </div>

                <div class="portfolio__container bd-grid">
                    <% projectsData.forEach(function(project) { %>
                        <div class="portfolio__content mix <%= project.focus === 'Website' ? 'web' : 'other' %>">
                            <a href="<%= project.link %>"><img src="<%= project.image_path %>" alt="" class="portfolio__img"></a>
                            <div class="portfolio__data">
                                <span class="portfolio__subtitle"><%= project.focus %></span>
                                <a href="<%= project.link %>"><h2 class="portfolio__title"><%= project.title %></h2></a>
                                <a href="<%= project.link %>" class="button button-link"><%= project.description %></a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </section>

            <!-- TESTIMONIAL SECTION -->
            <!-- <section class="testimonial section bd-container">
                <span class="section-subtitle">My client saying</span>
                <h2 class="section-title">Testimonial</h2>

                <div class="testimonial__container swiper-container">
                    <div class="swiper-wrapper">
                        <div class="testimonial__content swiper-slide">
                            <img src="img/testimonial1.jpg" alt="" class="testimonial__img">
                            <h3 class="testimonial__title">Nik Holly</h3>
                            <span class="testimonial__client">Client</span>
                            <p class="testimonial__description">This company does a very good service, offers the best deals and does a good job, I recommend it.</p>
                        </div>

                        <div class="testimonial__content swiper-slide">
                            <img src="img/testimonial2.jpg" alt="" class="testimonial__img">
                            <h3 class="testimonial__title">Sara Mill</h3>
                            <span class="testimonial__client">Client</span>
                            <p class="testimonial__description">This company does a very good service, offers the best deals and does a good job, I recommend it.</p>
                        </div>

                        <div class="testimonial__content swiper-slide">
                            <img src="img/testimonial3.jpg" alt="" class="testimonial__img">
                            <h3 class="testimonial__title">Clay Mitchell</h3>
                            <span class="testimonial__client">Client</span>
                            <p class="testimonial__description">This company does a very good service, offers the best deals and does a good job, I recommend it.</p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section> -->

            <!-- Contact -->
            <section class="testimonial section bd-container" id="contact">
                <span class="section-subtitle">For projects</span>
                <h2 class="section-title">Contact Me</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__content bd-grid">
                        <div class="contact__box">
                            <i class='bx bx-home contact__icon'></i>
                            <h3 class="contact__title">Location</h3>
                            <span class="contact__description">San Francisco, CA</span>
                        </div>

                        <div class="contact__box">
                            <a href="tel:+6308858087" style="color: inherit; text-decoration: none;">
                                <i class='bx bx-phone contact__icon'></i>
                                <h3 class="contact__title">Phone</h3>
                                <span class="contact__description">630-885-8087</span>
                            </a>
                        </div>

                        <div class="contact__box">
                            <a href="mailto:andrewjcatoiu26@gmail.com" style="color: inherit; text-decoration: none;">
                                <i class='bx bx-envelope contact__icon'></i>
                                <h3 class="contact__title">Gmail</h3>
                                <span class="contact__description">andrewjcatoiu26@gmail.com</span>
                            </a>
                        </div>

                        <!-- <div class="contact__box">
                            <i class='bx bx-chat contact__icon'></i>
                            <h3 class="contact__title">Chat</h3>
                            <div>
                                <a href="#" class="contact__social"><i class='bx bxl-whatsapp-square'></i></a>
                                <a href="#" class="contact__social"><i class='bx bxl-telegram'></i></a>
                                <a href="#" class="contact__social"><i class='bx bxl-messenger'></i></a>
                            </div>
                        </div> -->
                    </div>
                    
                    <!-- CONTACT FORM -->
                    <!-- <form action="" class="contact__form">
                        <div class="contact__inputs">
                            <input type="text" placeholder="Name" class="contact__input">
                            <input type="email" placeholder="Email" class="contact__input">
                        </div>

                        <div class="contact__inputs">
                            <input type="text" placeholder="Project" class="contact__input">
                            <input type="number" placeholder="Number" class="contact__input">
                        </div>

                        <textarea name="" id="" cols="0" rows="7" placeholder="Message" class="contact__input"></textarea>

                        <input type="submit" value="Send Message" class="button contact__button">
                    </form> -->
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer__container bd-container">
                <h1 class="footer__title">Andrew Catoiu</h1>
                <p class="footer__description">I am Andrew Catoiu and this is my personal website, consult me here.</p>
                
                <div class="footer__social">
                    <a href="https://www.linkedin.com/in/andrew-catoiu-329512290/" class="footer__link"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://github.com/andrewjcatoiu/" class="footer__link"><i class='bx bxl-github' ></i></a>
                </div>
                <p class="footer__copy">&#169; 2024 Andrew's Website. All rights reserved.</p>
            </div>
        </footer>

        <script src="js/mixitup.min.js"></script>

        <script src="js/swiper-bundle.min.js"></script>

        <script src="js/gsap.min.js"></script>

        <script src="js/main.js"></script>

        <script src="js/years_of_experience.js"></script>
    </body>
</html>